.centerContainer{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.mantine-Chip-iconWrapper{
    display: none !important;
}

.bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./../public/bg.webp");
    background-size: cover;
    background-position: center;
    opacity: 0.35; /* Adjust the opacity here */
    z-index: -1;

}